
/* @import url("reset.css"); */
@import url("stats.css");
body {
  background-color: #DC3737; }

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.nameBox {
  width: 150px;
  height: 35px;
  padding-top: 2px;
  background-color: #fff;
  border-style: ridge;
  border-color: #F7AF1D;
  border-radius: 25px;
  border-width: 5px;
  font-family: "Andale Mono", AndaleMono,monospace;
  color: #0081C6;
  text-align: center;
  webkit-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite;
}

@keyframes glow {
  50% {
    box-shadow: 0 0 60px #ffff33;
  /*  animation: pulse 1.5s infinite;
  animation-direction: alternate; */
  -webkit-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite; }

/* @keyframes pulse {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #FFFF33;
  }
}

@-webkit-keyframes glow 
{
  50% { box-shadow: 0 0 20px #aaf; }
} */
@keyframes glow {
  50% {
    box-shadow: 0 0 60px #FFFF33; } }

#grimBox {
  margin-left: 135px; }

#chuckBox {
  margin-right: 140px; }

.scoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.scoreBoxOne {
  height: 75px;
  width: 75px;
  margin-bottom: 0px;
  background-color: #F8F9FC;
  border-radius: 25px;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: center;
  vertical-align: center;
  color: #0081C6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 175px; }

.scoreBoxTwo {
  height: 75px;
  width: 75px;
  margin-bottom: 0px;
  background-color: #F8F9FC;
  border-radius: 25px;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: center;
  vertical-align: center;
  color: #0081C6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 175px; }

.pokemonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

#professorPokemon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#oddishCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-top: 0px;
  background-color: #EBEBEB;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/oddish.png"); }

#gloomCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-top: 0px;
  background-color: #EBEBEB;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/gloom.png"); }

#weezingCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-top: 0px;
  background-color: #EBEBEB;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/weezing.png"); }

#chuckPokemon {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

#dragonairCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-top: 0px;
  background-color: #EBEBEB;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/dragonair.jpg"); }

#butterfreeCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-top: 0px;
  background-color: #EBEBEB;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/butterfree.jpg"); }

#charmeleonCircle {
  width: 100px;
  height: 100px;
  margin: 20px;
  margin-top: 0px;
  background-color: #EBEBEB;
  border-style: ridge;
  border-color: #0081C6;
  border-width: 7px;
  border-radius: 50%;
  background-size: cover;
  -webkit-animation: rotation 2s infinite linear;
  background-image: url("images/charmeleon.jpg"); }

.pokemonNames {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
/* pasted code starts here: */
.textAnimation {
  font-size: 25px;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-style: bold;
  color: #f7af1d;
  text-shadow: 2px 2px 4px #b8860b;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite;
}



/* pasted code ends here */
.names {
  font-size: 25px;
  font-family: "Andale Mono", AndaleMono,monospace;
  font-style: bold;
  color: #F7AF1D;
  text-shadow: 2px 2px 4px #B8860B;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite; }

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.statsBox {

  padding-top: 10px;
  height: 250px;
  width: 475px;

  height: 250px;
  width: 400px;

  border-radius: 25px;
  border-width: 10px;
  border-style: ridge;
  border-color: #F7AF1D;
  background-color: white;

  webkit-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite;
}

  -webkit-animation: glow 2s ease-in-out infinite;
  animation: glow 2s ease-in-out infinite; }


@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }

#pokeLogo {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 0;
  margin-top: 0;
  -moz-transform: scale(0.75);
  -webkit-transform: scale(0.75);
  transform: scale(0.75); }

#vermillionHeader {
  font-size: 70px;
  font-family: "Andale Mono", AndaleMono,monospace;
  font-style: bold;
  color: #F7AF1D;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 200px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

.shadow {
  text-shadow: 3px 3px 5px #B8860B; }
